{% extends 'ServinowNavigationBundle:Navigation:index.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/servinowplatos/css/pantallaPlatos.css') }}">
{% endblock %}

{% block content %}

<form method="post" action="{{ path('servinow_platos_homepage_decidir', {'restaurantID': 1 }) }}">
    {#truco marrullero para pasar el productoID#}
    <input type="text" name="platoID" value="{{productoID.Id}}" hidden>
    <table>
        <tbody>
            <tr>
                <td>Nombre<br/><input type="text" name="nombre" value="{{productoID.nombre}}" required="required" placeholder="Nombre del plato"/></td>
                <td></td>
                <td>Imagen<br/><input type="file"/></td>
            </tr>
            <tr>
                <td>Descripción<br/><textarea rows="4" name="descripcion" required="required" placeholder="Descripción del plato">{{productoID.descripcion}}</textarea></td>
                <td></td>
                <td>Categorías<br/>
                    <div class="categorias">
                        <input type="checkbox" name="chk_group" checked />Bebidas<br />
                        <input type="checkbox" name="chk_group" checked />Bocadillos<br />
                        <input type="checkbox" name="chk_group" checked />Platos Combinados<br />
                        <input type="checkbox" name="chk_group" checked />Pasta<br />
                        <input type="checkbox" name="chk_group" checked />Carne<br />
                        <input type="checkbox" name="chk_group" checked />Postre<br />
                    </div>
                </td>
            </tr>
            <tr>
                <td>Precio<br/><input type="number" name="precio" value="{{productoID.precio}}" required="required" placeholder="X.Y"/> €</td>
                <td></td>
                <td><input type="checkbox" name="disponible" {% if productoID.disponible == true %}checked {% endif %}/>Disponible<br /></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align: right">
                    <button type=submit name="action" value="aceptarEditar">Aceptar</button>
                    <button type=submit name="action" value="descartarEditar">Descartar</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

{% endblock %}


