{% extends 'ServinowMovimientosDeCajaBundle::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/servinowmovimientosdecaja/css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/servinowmovimientosdecaja/css/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/servinowmovimientosdecaja/css/buttons.css') }}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js"></script>
    <script>
    $(function() {
            $( "#datepicker_fecha_inicio" ).datepicker({
                defaultDate: "+1w",
                numberOfMonths: 1,
                dateFormat: "yymmdd",
                maxDate: 0,
                onClose: function( selectedDate ) {
                    $( "#datepicker_fecha_fin" ).datepicker( "option", "minDate", selectedDate );
                }
            });
            $( "#datepicker_fecha_fin" ).datepicker({
                defaultDate: "+1w",
                numberOfMonths: 1,
                dateFormat: "yymmdd",
                maxDate: 0,
                onClose: function( selectedDate ) {
                    $( "#datepicker_fecha_inicio" ).datepicker( "option", "maxDate", selectedDate );
                }
            });
    });
    </script>
{% endblock %}

{% block class_li_general %} class="selected" {%endblock%}

{% block central_movimientos_caja %}
<div id="sidebar_left">
    <h1 id="titulo_movimientos_caja_general">
        {%trans%}overview{%endtrans%}
    </h1>
    <ul id="buttons_ul_movimientos_caja_general">
        <li>
            <a href="{{path('servinow_movimientos_de_caja_general_pago', 
                {'restaurantID': restaurantID})}}"
               class="btn .btn-large a_button"
            >
                {%trans%}payment.methods{%endtrans%}
            </a>
        </li>
        <li>
            <a href="{{path('servinow_movimientos_de_caja_general_ingresos', 
                {'restaurantID': restaurantID})}}"
               class="btn .btn-large a_button"
            >
                {%trans%}income{%endtrans%}
            </a>
        </li>
        <li>
            <a href="{{path('servinow_movimientos_de_caja_general_pedidos', 
                {'restaurantID': restaurantID})}}"
               class="btn .btn-large a_button"
            >
                {%trans%}orders{%endtrans%}
            </a>
        </li>
        <li>
            <a href="{{path('servinow_movimientos_de_caja_general_mesas', 
                {'restaurantID': restaurantID})}}"
               class="btn .btn-large a_button"
            >
                {%trans%}tables{%endtrans%}
            </a>
        </li>
    </ul>
</div>
<div id="central_sidebar">
    <div id="nav_movimientos_caja_general">
        <div id="nav_movimientos_caja_general_container">
            <form id="fechas">
                <label for="datepicker_fecha_inicio">Fecha inicio:</label> 
                <input type="text" name="fecha_inicio" id="datepicker_fecha_inicio" value="{{fecha_inicio}}"/>
                <label for="datepicker_fecha_fin">Fecha fin:</label>           
                <input type="text" name="fecha_fin" id="datepicker_fecha_fin" value="{{fecha_fin}}"/>
                <button type="submit" class="btn">Buscar</button>
            </form>
        </div>
    </div>
    <div id="central_movimientos_caja_general">
    {% block central_movimientos_caja_general%}
        
    {% endblock %}
    </div>
</div>

{% endblock %}